.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 26, 21, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  padding: 20px;
  margin: 0 20px;
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .modal {
    border-radius: 30px;
    padding: 64px;
    margin: 0;
  }
}
.CloseBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .closeButton {
    top: 20px;
    right: 20px;
  }
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  width: 238px;
  min-width: 100%;
  margin-bottom: 15px;
  margin-top: 25px;
}
@media only screen and (min-width: 768px) {
  .title {
    max-width: 472px;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
.text {
  line-height: 1.25;
  color: rgba(25, 26, 21, 0.5);
  margin-bottom: 20px;
  min-width: 100%;
  max-width: 472px;
}
@media only screen and (min-width: 768px) {
  .text {
    width: 472px;
    margin-bottom: 40px;
  }
}
.psychologistwrap {
  display: flex;
  min-width: 174px;
  gap: 14px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .psychologistwrap {
    margin-bottom: 40px;
  }
}
.psychologistImg {
  border-radius: 15px;
  background-color: #e0e0e0;
}
.psychologistInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.yourPsychologist {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8a8a89;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.input {
  padding: 8px 18px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  width: 238px;
  min-width: 100%;

  outline: none;
  &::placeholder {
    color: var(--black);
  }

  &:focus-within {
    border: 1px solid var(--green);
  }
}
.error {
  color: red;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  /* max-width: 115px; */
}
@media only screen and (min-width: 768px) {
  .error {
    max-width: 232px;
  }
}
@media only screen and (min-width: 768px) {
  .input {
    padding: 16px 18px;
    width: 472px;
    height: 52px;
  }
}
.time {
  padding: 6px 18px;
}
@media only screen and (min-width: 768px) {
  .time {
    padding: 16px 18px;
  }
}
.box {
  display: flex;
  gap: 8px;
  input {
    width: 115px;
    min-width: 100%;
  }
  .inputBox {
    max-width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .box {
    input {
      width: 232px;
    }
  }
}
.inputBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.textarea {
  padding: 8px 18px;
  border: 1px solid rgba(25, 26, 21, 0.1);
  border-radius: 12px;
  width: 238px;
  min-width: 100%;
  height: 116px;

  outline: none;
  &::placeholder {
    color: var(--black);
  }

  &:focus-within {
    border: 1px solid var(--green);
  }
}
@media only screen and (min-width: 768px) {
  .textarea {
    padding: 16px 18px;
    width: 472px;
  }
}
.button {
  margin-top: 4px;
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s;
  white-space: nowrap;
  line-height: 1.25;

  &:hover {
    background-color: var(--hover-green);
  }
}
@media only screen and (min-width: 768px) {
  .button {
    padding: 16px 196px;
    max-width: 472px;
    white-space: nowrap;
    margin-top: 24px;
  }
}
